<div class="flex-fill d-flex flex-column container-chat p-4">
  <ul class="list-messages flex-fill"></ul>
  <div class="d-flex flex-row">
    <input class="form-control flex-fill me-2" type="text" />
    <button class="btn btn-md btn-primary">submit</button>
  </div>
</div>
